.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 0.5fr 0.5fr 0.5fr 2.1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "name bt-add" "shuffle shuffle" "name-list name-list" ". .";
}

.name { grid-area: name; }

.bt-add { grid-area: bt-add; }

.shuffle {
  grid-area: shuffle;
  align-self: center;
  justify-self: center;
}

.name-list {
  grid-area: name-list;
  margin: 8px 0;
  align-self: center;
  justify-self: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #e0f2f1;
}

.bt {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.bt:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.add-bt {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 10px;
}

.shuffle-bt {
  padding: 12px 20px;
  margin: 8px 0 0 10px;
  background-color: #555555;
}

.delete-bt {
  padding: 8px 10px;
  margin: 8px 0 0 10px;
  background-color: #ff7043;
}

.n {
  margin: 4px 0;
  animation-duration: 2s;
  animation-name: fadeIn;
  word-break : break-all; /* 折返し */
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
